<% include ../partials/header %> 
<link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

	<div class="container1">
		<div class="left">
			<div class="info-box">
					<!--<div class="container2">-->
						
					<!--	     <img src = <%= currentUser.profile_image %> class="thumbnail" alt="Rounded Image">-->
					<!--	    </div>-->
					<!--	</div>	-->
					<div class="entry">
					<i class="icon-wallet" aria-hidden="true"></i>
					<p>Amount: <br><span><%= currentUser.credit%> </span></p>
				</div>
				<div class="entry">
					<i class="icon-calendar" aria-hidden="true"></i>
					<p>Date:<br><span><%= new Date();%></span></p>
				</div>
				<div class="entry">
					<i class="icon-star" aria-hidden="true"></i>
					<p>Issuer:<br><span>KnottPay</span></p>
				</div>
				<div class="entry">
					<i class="icon-notebook" aria-hidden="true"></i>
					<p>Account Number:<br><span><%= currentUser._id %></span></p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="content">
				<div class="header">
				
					<h4> <%= new Date();%></h4>
				</div>
				<div class="main">
					<h3><%= currentUser.username %></h3>
					<h5>Total: <%= currentUser.bank_balance %></h5>
					<img id="myImg" src= "<%=currentUser.profile_image%>"  type="text"  width="100" height="120"> 

				</div>
				<div class="message">
					<p>Hello <%= currentUser.username %>,<br>Your balance is <%= currentUser.credit %></p>
					<p>
						
					</p>
					<p>
						
					</p>
					<h6>It may take a few moments for this<br>transaction to appear in your account.</h6>
				</div>
				<div class="footer">
					<form action ="/pay" method ="post">
					
						 <input type="submit" value="Add Money">
					</form>
					
					
					<h6>Invoice ID: <%= currentUser._id %> </h6>
				</div>
			</div>
		</div>
	</div>
<% include ../partials/footer %>
